<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{#if title }} {{title}} {{else}} Contriboot {{/if}}</title>
    <meta name="keywords" content="{{#if keywords }} {{keywords}} {{else}} contributions, unconference {{/if}}">
    <meta name="theme-color" content="#601f27">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/basic-theme/images/favicon.jpg" type="image/x-icon">
    <link href="/static/basic-theme/css/style.css" rel="stylesheet" type="text/css"/>

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="site">
    <div class="wrapper">
      <div class="">
        <header class="site-header">
          <div class="clearfix site-header-intro" >
            <div class="col-xs-8">
              <a href="/" class="headline-anchor">
                <h1 class="headline">
                  Conferencia Internacional de Software Libre <br>April 25-27 Palacio del Segundo Cabo Havana/Cuba
                </h1>
              </a>
            </div>

          </div>
          <div class="clearfix">
            <div class="col-xs-12">

            </div>
          </div>
        </header>
      </div>
      <div class="container clearfix">
        <nav class="navigation">
          <ul class="menu">
            <li class="menu__item"><a href="http://www.cubaconf.org/" class="menu__item__link menu__item__link--home">Home</a></li>
            <li class="menu__item"><a href="http://www.cubaconf.org/tickets/" class="menu__item__link">Tickets</a></li>
            <li class="menu__item"><a href="http://www.cubaconf.org/location/" class="menu__item__link">Location</a></li>
            <li class="menu__item"><a href="http://www.cubaconf.org/sponsoring/" class="menu__item__link">Sponsoring</a></li>
            <li class="menu__item"><a href="http://www.cubaconf.org/code-of-conduct/" class="menu__item__link">Code of Conduct</a></li>
            <li class="menu__item"><a href="http://www.cubaconf.org/contact/" class="menu__item__link">Contact</a></li>
            <li class="menu__item"><a href="http://www.cubaconf.org/blog" class="menu__item__link">Blog</a></li>
            <li class="menu__item"><a href="/" class="menu__item__link">Contributions and Interests</a></li>
          </ul>
        </nav>
        <div class="content">
        {{{content}}}
        </div>
      </div>
    </div>
  </body>
</html>
